<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="target(first, second)">

        <style>
            .c1{
                background-color: indianred;
                float: left;
                font-style: italic;
                margin-top: 5px;
                margin-right: 5px;
                padding-right: 16px;
            }
            .c2{
                background-color: cornflowerblue;
                float: left;
                margin-top: 5px;
            }
        </style>

        <div class="c1">
            <th:block th:replace="${first}"></th:block>
        </div>
        <div class="c2">
            <th:block th:replace="${second}"></th:block>
        </div>
    </div>
</body>
</html>